{#
/**
 * @file
 * Better Login theme implementation to display a login page.
 *
 *
 * Available variables:
 *
 * General utility variables:
 * - url: The base URL path of the Drupal website.
 * - logo: Logo path of Drupal website.
 * - site_name: Site name of Drupal website.
 * - title: Title of a page.
 * - register_url: A registration url of Drupal website.
 *
 *
 * Regions:
 * - page.highlighted: Items for the highlighted region.
 * - page.content: The main content of the current page.
 *
 * @see betterlogin_preprocess_betterlogin()
 */
#}

<div id="auth_box" class="login">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">{{ title }}</h2>

    {{ page.highlighted }}

    {{ messages }}

    {{ page.content }}
  </div>

  <div id="bottom_part">
  </div>
</div>
